
#sample code
<!DOCTYPE html>
<html>
    <head>
        <title>Add book</title>
    </head>
    <body>
        <ul>
        {% for book in books %}
        <form action='/delete_book' method='POST'>
            <input type="hidden" name="title" value="{{ book['title'] }}"/>
            <li>{{ book['title'] }}, by {{ book['author'] }} <button>X</button></li> 
        </form>
        {% endfor %}
        </ul>
        <h3>Add a book</h3>
        <form action="/create_book" method="POST">
            <input type="text" placeholder="Book title" name="title"/>
            </br>
            <input type="text" placeholder="Author" name="author"/>
            </br>
            </br>
            <button>Submit</button>
        </form>
    </body>
</html>